@inherits LayoutComponentBase


<div class="page-layout">
    <header>
        <NavbarComponent></NavbarComponent>
    </header>
   
    <main>
        <div style="smooth-scroll">
            @Body
        </div>
    </main>

    <footer>
        <FooterComponent></FooterComponent>
    </footer>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
