<div class="div-navbar-main">
	<ul>
		<li><a href="/" class="a-btn-custom">Dashboard</a></li>
		<li><a href="/aboutme" class="a-btn-custom">About me</a></li>
		<li><a href="/projects" class="a-btn-custom">Projects</a></li>
        <li><a href="/server-status" class="a-btn-custom">Status</a></li>
	</ul>
	
    <div>
        <div class="contact-dropdown">
            <button class="contact-btn">
                Contact <span>▼</span>
            </button>
            <div class="dropdown-content">
                <a href="mailto:davidhykys88@gmail.com" target="_blank">
                    📧 Email
                </a>
                <a href="https://github.com/Athylaos" target="_blank">
                    💻 GitHub
                </a>
                <a href="https://www.instagram.com/hykysdavid/" target="_blank">
                    📸 Instagram
                </a>

            </div>
        </div>
    </div>
</div>

@code {



}

