<header class="nav">
    <a class="nav-left" href="/">
        <span class="dot"></span>
        Hykyš
    </a>

    <nav class="nav-links">
        <!--<a href="/dashboard" class="nav-link">Dashboard</a>-->
        <a href="/" class="nav-link">O mně</a>
        <a href="/projects" class="nav-link">Projekty</a>
        <a href="/server-status" class="nav-link">Status</a>
    </nav>

    <div class="contact-dropdown">
        <button class="contact-btn">
            Kontakt <span class="chev">▼</span>
        </button>

        <div class="dropdown-content">
            <a href="mailto:davidhykys88@gmail.com" target="_blank">📧 Email</a>
            <a href="https://github.com/Athylaos" target="_blank">💻 GitHub</a>
            <a href="https://www.instagram.com/hykysdavid/" target="_blank">📸 Instagram</a>
        </div>
    </div>
</header>

