@page "/games/RobosJwlry/online"

<PageTitle>Shoot Ship Squadron</PageTitle>

<div class="fullscreen-game">
    <div class="unity-wrapper">
        <iframe src="Games/RobosJwlry/index.html"
                class="unity-frame"
                allowfullscreen
                allow="fullscreen">
        </iframe>
    </div>
</div>




<style>
    .fullscreen-game {
        width: 100vw !important;
        height: 100vh !important;
        margin: 0 !important;
        padding: 0 !important;
        position: fixed !important;
        top: 0 !important;
        left: 0 !important;
        z-index: 9999 !important;
        background: #000 !important;
        overflow: hidden !important;
    }

    .unity-wrapper {
        width: 100% !important;
        height: 100% !important;
        border: none !important;
        border-radius: 0 !important;
        box-shadow: none !important;
        overflow: hidden !important;
    }

    /* 3. Iframe FULL */
    .unity-frame {
        width: 100vw !important;
        height: 100vh !important;
        border: none !important;
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
    }

</style>

@code {

}
