@page "/server-status"
@inject HttpClient Http
@rendermode InteractiveAuto

<section class="status-hero">
    <h1>Status serverů</h1>
    <p></p>
</section>

<div class="server-panel">
    <div class="status-card card">
        <h2>🌍 Playit.gg Tunnel</h2>
        @if(tunnelOnline != null)
        {
            @if(tunnelOnline == true)
            {
                <p>Status: <span style="color:green"><strong>🟢 Online</strong></span></p>
            }
            else
            {
                <p>Status: <span style="color:darkred"><strong>🔴 Offline</strong></span></p>
            }           
        }
        else
        {
            <p>Loading.....</p>
        }

        <div>
            <button class="btn-primary" @onclick="CheckTunnel">Refresh</button>
        </div>
    </div>

    <div class="status-card card">
        <h2>⛏️ Minecraft Server (LAN)</h2>
        @if (mcData != null)
        {
            @if (mcData.IsOnline)
            {
                <p>Status: <span style="color:green">Online</span></p>
                <p>Hráči: @mcData.Players / @mcData.MaxPlayers</p>
                <p>Verze: @mcData.Version</p>
            }
            else
            {
                <p>Status: <span style="color:red">Offline</span></p>
            }
        }
        else
        {
            <p>Loading.....</p>
        }
        <div>
            <button class="btn-primary" @onclick="CheckMinecraft">Refresh</button>
        </div>

        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="alert alert-danger">@errorMessage</div>
        }
    </div>
</div>


@code {
    private bool? tunnelOnline = null;
    private McStatusResponse? mcData;
    private string errorMessage = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        _ = LoadDataAsync();

    }

    private async Task LoadDataAsync()
    {
        var t1 = CheckTunnel();
        var t2 = CheckMinecraft();

        await Task.WhenAll(t1, t2);
    }

    private async Task CheckTunnel()
    {
        tunnelOnline = null;
        StateHasChanged();
        try
        {
            errorMessage = string.Empty;
            var response = await Http.GetFromJsonAsync<PortResponse>("api/ServerStatus/check-port?ip=usually-discussion.gl.joinmc.link&port=25565");
            tunnelOnline = response?.IsOnline ?? false;
        }
        catch (Exception ex)
        {
            errorMessage = "Error: " + ex.Message;
            Console.WriteLine(ex);
        }

        StateHasChanged();
    }

    private async Task CheckMinecraft()
    {
        mcData = null;
        StateHasChanged();
        try
        {
            var response = await Http.GetFromJsonAsync<McStatusResponse>("api/ServerStatus/mc-status?ip=10.0.1.227&port=25565");
            mcData = response;
        }
        catch(Exception ex)
        {
            errorMessage = "CErrir: " + ex.Message;
            Console.WriteLine(ex);
        }

        StateHasChanged();
    }

    class PortResponse { public bool IsOnline { get; set; } public string Message { get; set; } }
    class McStatusResponse
    {
        public bool IsOnline { get; set; }
        public string Players { get; set; }
        public string MaxPlayers { get; set; }
        public string Version { get; set; }
    }
}
