@page "/aboutme"

<PageTitle>About me</PageTitle>

<div class="div-aboutme-container">

    <div class="panel">
        <div class="panel-header">Nadpis 1</div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae nulla arcu. Sed ultricies tortor vel viverra posuere. Aenean tristique condimentum dui, a porta nibh pretium eu. Pellentesque lacinia fringilla tortor, sollicitudin consequat odio pretium nec. Fusce ullamcorper sem in arcu fermentum, quis mollis ipsum fermentum. Aliquam a ante diam. Vivamus vitae lobortis augue, quis finibus diam. Cras in quam consequat, fermentum nisl dignissim, feugiat neque. Vestibulum odio magna, tristique et ante sit amet, auctor dignissim turpis. Donec sed vehicula arcu. Integer sed ligula non velit feugiat venenatis ut id nulla. Etiam ultrices turpis tortor, quis elementum purus condimentum vitae. Sed sodales diam eget urna placerat, vel porttitor arcu aliquet. Sed ac ornare massa, sed condimentum augue.
        </p>
    </div>
</div>
