@page "/aboutme"

<PageTitle>About me</PageTitle>

<div class="div-aboutme-container">

    <div class="panel">
        <div class="panel-header">Nadpis 1</div>
        <p>
            WIP
        </p>
    </div>
</div>
