@page "/"
@using HykysWeb.Components.ModularComponents

<PageTitle>Dashboard</PageTitle>

<div class="div-dashboard-container">

    <div class="div-todo-panel">
        <div class="panel-header">📝 Úkoly</div>
        <p>WIP</p>
        
    </div>

    <div class="div-links-panel">
        <div class="div-links-container">
            <LinkTileComponent Title="Email" Link="https://mail.google.com"/>
        
            <LinkTileComponent Title="Moodle" Link="https://moodle.skolakrizik.cz"/>

            <LinkTileComponent Title="Classroom" Link="https://classroom.google.com"/>

            <LinkTileComponent Title="Škola" Link="https://www.skolakrizik.cz" />
        
            <LinkTileComponent Title="Twitch" Link="https://www.twitch.tv"/>

            <LinkTileComponent Title="Youtube" Link="https://www.youtube.com"/>

            <LinkTileComponent Title="ChatGPT" Link="https://chatgpt.com" />

            <LinkTileComponent Title="Faceit" Link="https://www.faceit.com"/>

            <LinkTileComponent Title="Google disk" Link="https://drive.google.com"/>

        </div>
    </div>

    <div class="div-calendar-panel">
        <div class="panel-header">📅 Kalendář</div>
        <div class="calendar-wrapper">
            <iframe src="https://calendar.google.com/calendar/embed?src=davidhykys88%40gmail.com&ctz=Europe%2FPrague"
            style="border: 0" height="800" width="600"  frameborder="0" scrolling="no" autocorrect="on"></iframe>
        </div>
    </div>
</div>