@page "/"
@using HykysWeb.Components.ModularComponents

<PageTitle>Dashboard</PageTitle>

<div class="div-dashboard-container">

    <div class="div-todo-panel">
        <div class="panel-header">📝 Úkoly</div>
        <p>Zde bude seznam úkolů...</p>
        
    </div>

    <div class="div-links-panel">
        <div class="links-container">
            <LinkTileComponent Title="Email" Link="https://mail.google.com" IconClass="" />
        
            <LinkTileComponent Title="Moodle" Link="https://moodle.skolakrizik.cz" IconClass="" />

            <LinkTileComponent Title="Classroom" Link="https://classroom.google.com" IconClass="" />
        
            <LinkTileComponent Title="Twitch" Link="https://www.twitch.tv" ImageUrl="" />

            <LinkTileComponent Title="Youtube" Link="https://www.youtube.com" ImageUrl=""/>

            <LinkTileComponent Title="ChatGPT" Link="https://www.chat.com" ImageUrl="" />
        </div>
    </div>

    <div class="div-calendar-panel">
        <div class="panel-header">📅 Kalendář</div>
        <p>Zde bude kalendář...</p>
    </div>
</div>