@page "/projects"

<PageTitle>Projects</PageTitle>

<section class="projects-hero">
    <h1>Moje Projekty</h1>
    <p>Ukázka her a aplikací, které jsem vytvořil ve svém volném čase. Prozkoumejte projekty tlačítkem detail projektu.</p>
</section>

<section class="projects-list">

    <article class="project-row project-row-left">
        <div class="project-image">
            <img src="Imgs/BL/BLLogo.png" alt="Book Lib" />
            <div class="project-tags">
                <span>C#</span><span>.NET MAUI</span>
            </div>
        </div>
        <div class="project-content">
            <h2>Book Lib</h2>
            <p class="project-tagline">Mobilní aplikace pro správu osobní knihovny</p>
            <p class="project-text">
                Aplikace, kterou jsem vytvořil pro jednoduchou a rychlou správu osobní knihovny. Má jednoduché přidávání knih, jejich filtrování,
                podle oblíbenosti, autora nebo názvu a jejich rychlé uprávy a zobrazení.
            </p>
            <div class="project-buttons">
                <a href="/projects/BookLib" class="btn-primary">🔎 Detail projektu</a>
            </div>
        </div>
    </article>

    <article class="project-row project-row-left">
        <div class="project-image">
            <img src="Imgs/SSS/SSSWebIcon.png" alt="Shoot Ship Squadron"/>
            <div class="project-tags">
                <span>Unity</span><span>C#</span><span>Blender</span>
            </div>
        </div>
        <div class="project-content">
            <h2>Shoot Ship Squadron</h2>
            <p class="project-tagline">3D vesmírná roguelike střílečka v Unity.</p>
            <p class="project-text">
                Moje první větší Unity hra. Hra obsahuje létání s lodí mezi asteroidy,
                jednoduché AI nepřátel, power-upy a vylepšování lodi. 3D modely jsou
                dělané v Blenderu, 2D grafika v Aseprite a Inkscape.
            </p>
            <div class="project-buttons">
                <a href="/projects/ShootShipSquadron" class="btn-primary">🔎 Detail projektu</a>
                <a href="/projects/ShootShipSquadron/online" class="btn-ghost">🎮 Hrát online</a>
            </div>
        </div>
    </article>

    <article class="project-row project-row-right">
        <div class="project-image">
            <img src="Imgs/RJ/RJLogoWeb.png" alt="Osobní Dashboard" />
            <div class="project-tags">
                <span>Unity</span><span>C#</span><span>.NET</span><span>Aseprite</span>
            </div>
        </div>
        <div class="project-content">
            <h2>Robo's Jwlry</h2>
            <p class="project-tagline">Idle mining 2D pixel art hra v Unity.</p>
            <p class="project-text">
                Největší Unity hra co jsem dělal. Obsahuje odemykaní nových podlaží a surovin,
                dynamický item systém, inventář, research strom a systém vyrábění. Celá hra je dělaná v
                pixel art stylu s ručně animovanými budovami.
            </p>
            <div class="project-buttons">
                <a href="/projects/RobosJwlry" class="btn-primary">🔎 Detail projektu</a>
            </div>
        </div>
    </article>


</section>